<!DOCTYPE html>
<html>

<head>
    <title>Vue Test</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>

<div id="exercise">
   <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{ yourName}} ({{ yourAge }})</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>{{ yourAge * 3 }}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p>{{ randomFloat() }}</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img v-bind:src="googleImage" style="width:100px;height:100px">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input v-bind:value="yourName" type="text">
    </div>
</div>
<script>
    new Vue({
        el: '#exercise',
        data: {
            yourName: 'Kevin',
            yourAge: 39,
            googleImage: 'http://cdn.inquisitr.com/wp-content/uploads/2015/09/TurdFerguson.jpg'
        },
        methods: {
            randomFloat: function(){
                return Math.random();
            }
        }
    })
</script>
</body>
</html>
