<!DOCTYPE html>
<html>

<head>
    <title>Vue Test</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>

<div id="app">
    <h1 v-once>{{ title }}</h1>
    <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
    <hr>
    <p v-html="finishedLink"></p>
</div>

<script src="/js/01.js"></script>

</body>

</html>