<!DOCTYPE html>
<html>

<head>
    <title>Vue Test</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>

<div id="app">
    <button v-on:click="increase(2, $event)">Click me</button>
    <button v-on:click="counter++">Click me</button>
    <p>{{ counter }}</p>
    <p v-on:mousemove="updateCoordinates">
        Coordinates: {{ x }} / {{ y }}
        - <span v-on:mousemove.stop="">DEAD SPOT</span>
    </p>
    <input type="text" v-on:keyup.enter="alertMe">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            counter: 0,
            x: 0,
            y: 0
        },
        methods: {
            increase: function(step, event){
                this.counter += step;
            },
            updateCoordinates: function(event) {
                this.x = event.clientX,
                this.y = event.clientY;
            },
            alertMe: function() {
                alert('Alert!');
            }
        }
    });
</script>

</body>
</html>
