<!DOCTYPE html>
<html>

<head>
    <title>Vue Test</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>

<div id="app">
    <p v-if="show">You can see me! <span>Hello!</span></p>
    <p v-else>Now you see me!</p>
    <template v-if="show">
        <h1>Heading</h1>
        <p>Inside a template</p>
    </template>
    <p v-show="show">Do you also see me?</p>
    <button @click="show = !show">Switch</button>
</div>

<script>

new Vue({
    el: '#app',
    data: {
        show: true
    }

});

</script>
</body>
</html>