<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Animations</h1>
                <hr>
                <select v-model="alertAnimation">
                    <option>Fade</option>
                    <option>Slide</option>
                </select>
                <br>
                <button class="btn btn-primary" @click="show = !show">Show Alert</button>
                <br><br>
                <transition :name="alertAnimation">
                    <div class="alert alert-info" v-show="show">This is some info</div>
                </transition>
                <transition name="slide" :type="alertAnimation">
                    <div class="alert alert-info" v-if="show">This is some info</div>
                </transition>
                <transition enter-active-class="animated bounce"
                 leave-active-class="animated shake" mode="out-in">
                    <div class="alert alert-info" v-if="show" key="info">This is some info</div>
                    <div class="alert alert-warning" v-else key="warning">This is some warning</div>
                </transition>
                <hr>
                <button clas="btn btn-primary" @click="load = !load">Load / Remove Element </button>
                <br><br>
                <transition
                    @before-enter="beforeEnter"
                    @enter="enter"
                    @after-enter="afterEnter"
                    @enter-cancelled="enterCancelled"
                    @before-leave="beforeLeave"
                    @leave="leave"
                    @after-leave="afterLeave"
                    @leave-cancelled="leaveCancelled"
                    :css="false">
                    <div v-if="load" style="width: 300px; height: 100px; background-color: lightgreen">
                    </div>
                </transition>
                <hr>
                <button class="btn btn-primary" @click="selectedComponent == 'app-success-alert' ? selectedComponent = 'app-danger-alert' : selectedComponent= 'app-success-alert'">Toggle Component</button>
                <br><br>
                <transition name="fade" mode="out-in">
                    <component :is="selectedComponent"></component>
                </transition>
                <hr>
                <button class="btn btn-primary" @click="addItem">Add Item</button>
                <br><br>
                <ul class="list-group">
                <transition-group name="slide">
                    
                        <li class="list-group-item" 
                            v-for="(number, index) in numbers"
                            @click="removeItem(index)" :key="index"
                            style="cursor: pointer"> {{ number }}</li>
                    
                </transition-group>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import DangerAlert from './DangerAlert.vue'
import SuccessAlert from './SuccessAlert.vue'
    export default {
        data() {
            return {
                show: false,
                alertAnimation: 'fade',
                elementWidth: 100,
                load: true,
                selectedComponent: 'app-success-alert',
                numbers: [1,2,3,4,5]
            }
        },
        methods: {
            beforeEnter(element) {
                console.log('beforeEnter')
                this.elementWidth = 100
                element.style.width = this.elementWidth
            },
            enter(element, done) {                
                console.log('enter')
                let round = 1
                const interval = setInterval(() => {
                    element.style.width = (this.elementWidth + round * 10) + 'px'
                    round++
                    if (round > 20) {
                        clearInterval(interval)
                        done()
                    }
                }, 20)
            },
            afterEnter(element) {
                console.log('afterEnter')
            },
            enterCancelled(element) {
                console.log('enterCancelled')
            },
            beforeLeave(element) {
                console.log('beforeLeave')                
                this.elementWidth = 300
                element.style.width = this.elementWidth + 'px'
            },
            leave(element, done) {
                console.log('leave')
                
                let round = 1
                const interval = setInterval(() => {
                    element.style.width = (this.elementWidth - round * 10) + 'px'
                    round++
                    if (element.style.width <= 0) {
                        clearInterval(interval)
                        done()
                    }
                }, 20)
            },
            afterLeave(element) {
                console.log('afterLeave')
            },
            leaveCancelled() {
                console.log('leaveCancelled')
            },
            addItem() {
                let randomValue = Math.floor(Math.random()*10);
                this.numbers.push(randomValue)
            },
            removeItem(index) {
                this.numbers.splice(index, 1)
            }
        },
        components: {
            appDangerAlert: DangerAlert,
            appSuccessAlert: SuccessAlert
        }
    }
</script>

<style>
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity 1s;
    }

    .fade-leave {
        opacity: 1;
    }

    .fade-leave-active {
        transition: opacity 1s;
        opacity: 0;
    }

    .slide-enter {
        opacity: 0;
    }

    .slide-enter-active {
        animation: slide-in 1s ease-out forwards;
        transition: opacity .5s;
    }

    .slide-move {
        transition: transform 1s;
    }

    .slide-leave-active {
        animation: slide-out 1s ease-out forwards;
        transition: opacity 1s;
        opacity: 0;
        position: absolute;
    }

    @keyframes slide-in {
        from {
            transform: translateY(20px);
        } to {
            transform: translateY(0);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(0);
        } to {
            transform: translateY(20px);
        }
    }
</style>
