#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.test1 {
  background-color: purple;
}

.test2 {
  font-family: 'Courier New', Courier, monospace;
}

.orange {
  background-color: orange;
}

.zero {
  width: 100px;
  background-color: red;
}

.fifty {
  width: 200px;
  background-color: yellow;
}

.hundred {
  width: 400px;
  background-color: green;
}

.myStyle {
  width:300px;
  background-color: #f00; 
}